@{
    ViewBag.Title = "Home Page";
}

<form id="training-set-form">
    <input type="file" name="training-set" />
    <button type="submit">Upload train set</button>
</form>

<form id="test-set-form">
    <input type="file" name="test-set" />
    <button type="submit">Upload test set</button>
</form>

<div id="attributes-container">
</div>

<div id="data-processing-container">
</div>

<div id="processed-data-container">
</div>

<div id="oryginal-data-container">
</div>

<div id="templates" style="display:none;">
    <div class="processing-step-attribute-list"></div>
    <div class="processing-step-data-list"></div>
    <div class="data-processing-container"></div>
    <div class="attibute-container">
        <div class="attribute-name"></div>
        <div class="attribute-type"></div>
        <div class="attribute-status"></div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {

        });
    </script>
}
@Scripts.Render("~/bundles/site")